<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">

    <link rel="stylesheet" href="css/style.css">

    <title>Document</title>
</head>
<body>
<div class="system_name">
    <h2>Vocab Learning</h2>
</div>


<div id="container1">

    <div class="login">

        <h3>登入 Login</h3>

        <form onsubmit="return false">
            <input type="text" id="username" name="username" placeholder="帳號" required>
            <div class="tab"></div>
            <input type="password" id="password" name="password" placeholder="密碼" required>
            <div class="tab"></div>
            <input type="submit" id="loginBtn" value="登入" class="submit">
        </form>

        <h5 onclick="show_hide()">註冊帳號</h5>

    </div><!-- login end-->
</div><!-- container1 end-->



<div id="container2">

    <div class="signup">

        <h3>註冊 Sign Up</h3>

        <form onsubmit="return false">
            <input type="text" id="email" name="email" placeholder="email" required
                   oninvalid="this.setCustomValidity('請輸入email')" oninput="this.setCustomValidity('')">
            <div class="tab"></div>
            <input type="text" id="registerUsername" name="username" placeholder="帳號" required
                   oninvalid="this.setCustomValidity('請輸入帳號')" oninput="this.setCustomValidity('')">
            <div class="tab"></div>
            <input type="password" id="registerPassword" name="password" placeholder="密碼" required
                   oninvalid="this.setCustomValidity('請輸入密碼')" oninput="this.setCustomValidity('')">
            <div class="tab"></div>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="確認密碼" required oninput="this.setCustomValidity('')">
            <div class="tab"></div>
            <input type="submit" id="registerBtn" value="註冊" class="submit">
        </form>

        <h5 onclick="show_hide()">登入帳號</h5>

        <div id="registerMessage"></div>

    </div><!-- signup end-->
</div><!-- container2 end-->


<div id="copyright">
    <h4>Copyright © 2025 張哲睿版權所有</h4>
</div>
<script src="js/script.js"></script>
</body>
</html>